<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="/css/style.css">
    
    </head>

    <body>
   
     <div class="main-content">
   {{>header}}
     {{helpText}}
     {{>footer}}
   <form>
     <input >
     <button>Search</button>
   </form>
{{!-- <p> This is a pragrapgh</p> --}}
    <p id="message-1"></p>
      <p id="message-2"></p>
     </div>
      <script src="/js/app.js"></script>
    </body>
</html>